/* 공통 */
.ManagerMain{
    display: flex;

    margin: 0 auto;

    width: 1280px;
}

.ManagerBody{
    width: 75%;
    height: auto;
}

.disabled{
    width: 0;
    height: 0;
}

.DetailBar, .DetailItem{
    display: flex;

    align-items: center;
    justify-content: space-around;
}

.DetailItem:hover{
    background-color: rgb(212, 212, 212);
}

.DetailBar{
    border-bottom: 1px solid black;
}

.DetailBar > p{
    width: 120px;

    text-align: center;
}

.DetailItem{
    height: 60px;
}

.DetailItem > div{
    width: 120px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

#DetailName > img{
    width: 15px;
    height: 15px;

    margin: 0 10px;
}

/* 모달 창 */

.ModalMain{
    background-color: rgba(76, 76, 76, 0.1);
}

.ModalBox{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 700px;
    height: 700px;

    background-color: white;
}

.BoxTitle{
    display: flex;
    padding: 0 50px;

    height: 100px;

    border-bottom: 2px solid rgb(83, 83, 177);

    font-size: 28px;
    font-weight: bold;
    color: rgb(83, 83, 177);

    align-items: end
}

.BoxItem{
    display: flex;
    padding: 0 30px;

    height: 50px;

    border-bottom: 1px solid rgb(83, 83, 177);

    position: relative;

    align-items: center;
}

.BoxItem:last-child{
    border: none;
}

.BoxItem > p{
    margin: 0;
}

.BoxItem > img{
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

.updateBtn{
    width: 80px;
    height: 40px;

    position: absolute;
    right: 10px;

    border: 1px solid rgb(212, 212, 212);
    background-color: aliceblue;
}

.updateBtn:hover{
    background-color: rgb(220, 238, 255);
}

.TestItem > img{
    width: 25px;
    height: 25px;
    margin: 0 5px;
}

/* 관리 네비게이션바 */
.ManagerNavBar{
    width: 25%;
    height: 700px;

    background-color: crimson;
}

.name{
    display: flex;

    width: 100%;
    height: 100px;
    margin: 30px 0;
    border: 1px solid black;

    align-items: center;
    justify-content: center;

    font-size: 20px;

    background: none;
}

.name:hover{
    background-color: rgb(155, 18, 46);
}

/* 회원 관리 CSS */
#UserManagement{
    height: 100%;
}

.UserContents{
    margin-top: 50px;
    border-top: 3px solid rgb(83, 83, 177);
}

#testScroll{
    height: 250px;

    overflow-y: scroll;

    border-bottom: 1px solid rgb(83, 83, 177);
}

.testList{
    display: flex;

    width: 100%;
    height: 50px;

    border-bottom: 1px solid rgb(83, 83, 177);

    justify-content: space-around;
}

.TestItem{
    display: flex;

    width: 140px;
    height: 50px;

    text-align: center;
    align-items: center;
    justify-content: center;
}

.btnMenu{
    display: flex;

    height: 90px;

    align-items: center;
    justify-content: right;
}

.fileStateBtn{
    width: 100px;
    height: 60px;

    margin: 0 5px;
}
/* 회사 관리 CSS */
#CompanayManagement{
    height: 100%;
}

#address{
    width: 200px;
}